// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192,70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220,16%,96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0,0,100%);
$black: hsl(0, 0%, 0%);

// Carlson Gracie Colors
$cgRed: hsl(352, 64%, 40%);
$cgGrey: hsl(240, 1%, 66%);


$font-med: 1.125rem;
$font-sm: .875rem;
$font-l: 1.725rem;
$font-xl: 3.25rem;