<link rel="stylesheet" type="text/css" href="app/scss/style.css">
<section class="schedule">
    <div class="schedule__header flex flex-jc-c flex-ai-c">
    <h1>Schedule</h1>
    </div>
    <nav class="flex flex-jc-c flex-ai-c container container--px">
    <div class="schedule__links hide-for-desktop">
        <a id="schedule-btn-mon">Mon</a>
        <a id="schedule-btn-tue">Tue</a>
        <a id="schedule-btn-wed">Wed</a>
        <a id="schedule-btn-thur">Thur</a>
        <a id="schedule-btn-fri">Fri</a>
        <a id="schedule-btn-sat">Sat</a>
    </div>   
    <div class="schedule__links hide-for-mobile">
    <a id="schedule-btn-mon">Monday</a>
    <a id="schedule-btn-tue">Tuesday</a>
    <a id="schedule-btn-wed">Wednesday</a>
    <a id="schedule-btn-thur">Thursday</a>
    <a id="schedule-btn-fri">Friday</a>
    <a id="schedule-btn-sat">Saturday</a>
</div>   
    </nav>
    <div class="schedule__card">
    <div class="schedule__card__header flex flex-jc-c flex-ai-c">
        
        <h1 id="schedule-content-header"></h1>    
    </div>
    <div id="schedule-mwf" class="schedule__card__content container container--pall flex-jc-c flex-ai-c">   
        <div class="schedule__card__content__item">
        <h1>9:00 AM - 10:00 AM</h1>
        <p>Adult BJJ</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>10:00 AM - 10:30 AM</h1>
        <p>Open Mat</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>10:30 AM - 12:00 PM</h1>
        <p>Adult BJJ</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>12:00 PM - 1:00 PM</h1>
        <p>Open Mat</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>4:15 PM - 5:00 PM</h1>
        <p>Kids BJJ (Age 5-7)</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>5:00 PM - 5:45 PM</h1>
        <p>Kids BJJ (Age 8-10)</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>5:45 PM - 6:30 PM</h1>
        <p>Kids BJJ (Age 11-13)</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>6:30 PM - 8 PM</h1>
        <p>Adult BJJ</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>8:00 PM - 9:30 PM</h1>
        <p>Open Mat</p>
        </div>
    </div>
    <div id="schedule-tuethur" class="schedule__card__content container container--pall flex-jc-c flex-ai-c">
        <div class="schedule__card__content__item">
        <h1>9:00 AM - 10:00 AM</h1>
        <p>Adult BJJ</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>10:00 AM - 10:30 AM</h1>
        <p>Open Mat</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>10:30 AM - 12:00 PM</h1>
        <p>Adult BJJ</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>12:00 PM - 1:00 PM</h1>
        <p>Open Mat</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>6:30 PM - 8 PM</h1>
        <p>Adult BJJ</p>
        </div>
        <div class="schedule__card__content__item">
        <h1>8:00 PM - 9:30 PM</h1>
        <p>Open Mat</p>
        </div>
    </div>
    <div id="schedule-sat" class="schedule__card__content container container--pall flex-jc-c flex-ai-c">
        <div class="schedule__card__content__item">
        <h1>10:00 AM - 12:00 PM</h1>
        <p>Open Mat</p>
        </div>
    </div>
    </div>
</section>